extends layout

block content
  h1= title
  p Welcome  #{title} to this page
  button(type="button" class="btn btn-warning" onclick="update()") Press Me
  div(id="target" class="container text-center m-2 p-3" style="color:brown;font-weight:500; background-color:lightblue;") display 
  script. 
    var client_count=0 
    function update(){
      client_count++;
      document.getElementById("target").innerHTML=`Value now ${client_count}`
    }
  a(href="dog") Dogs page 
